@font-face {
    font-family: 'Round';
    src: url('Typo_Round_Thin_Demo.ttf');
    src: url('Typo_Round_Thin_Demo.eot?#iefix') format('embedded-opentype'),
        url('Typo_Round_Thin_Demo.woff') format('woff'),
        url('Typo_Round_Thin_Demo.otf') format('otf'),
        url('Typo_Round_Thin_Demo.ttf') format('truetype'),
        url('Typo_Round_Thin_Demo.svg#Typo_Round_Thin_Demo') format('svg');
}
@font-face {
    font-family: 'Ocr';
    src: url('OCRAStd.otf');
    src: url('OCRAStd.eot?#iefix') format('embedded-opentype'),
        url('OCRAStd.woff') format('woff'),
        url('OCRAStd.otf') format('otf'),
        url('OCRAStd.ttf') format('truetype'),
        url('OCRAStd.svg#OCRAStd') format('svg');
}






/** VERSIONS MOBILE - TABLETTE **/
@media (max-width: 767px){
	
	.illuResultGage{
		max-width: 100%;
		max-height: 400px;
	}


	#primary_nav {
        /*position: absolute;*/
        top: 5px;
        right: 10px;
        background: none;
        display: none;
    }
 
	#primary_nav ul {
	    list-style: none;
	    background: #070735;
	    padding: 5px 0;
	}
	 
	#primary_nav li a {
	    display: block;
	    padding: 5 20px;

	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 0.1em;
	    letter-spacing: 0.1em;
	    line-height: 2em;
	    height: 2em;
	    border-bottom: 1px solid #a2a2cb;
	}
	 
	#primary_nav li:last-child a {
	    border-bottom: none;
	}
	 
	
	#primary_nav:target{
		display: block;
	}

	a.to_nav {
	    float: right;
	    color: #fff;
	    background: #070735;
	    text-decoration: none;
	    padding: 0 10px;
	    font-size: 12px;
	    font-weight: bold;
	    line-height: 22px;
	    height: 22px;
	    text-transform: uppercase;
	    letter-spacing: 0.1em;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    border-radius: 2px;
	}
	 
	

	#primary_nav li a:hover,
	#primary_nav li a:focus {
	    background: #242456;
	    text-decoration: none;
	}

}

/* VERSION WEB*/
@media (min-width: 768px){
	
	.illuResultGage{
		max-width: 400px;
		max-height: 400px;
	}
	#primary_nav li {
        display: inline;
    }
 
    #primary_nav li a {
        /*float: left;*/
        border: none;
        padding: 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    #secondary_nav li {
        display: inline;
    }
 
    #secondary_nav li a {
        /*float: left;*/
        border: none;
        padding: 0 10px;

    }
    a.to_nav {
        display: none;
    } 

}

/* ----------------- En-TÊTE - MISE EN PAGE  */
body {
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
    /*font-family: 'Bubbler One', sans-serif;*/
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Poiret One', cursive;
	color: #cdcde7;
	background-color: #070735;
	width:auto;
	margin-left: 1%;
	margin-right: 1%;

	/* The image used */
    background-image: url("../application/library/images/bg.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}


label{
	padding-right:10px;
	padding-left: 20px;
}
table{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}


h1 {
	text-align:center;
	/*text-decoration: underline;*/
	color: #fff;
	/*font-family:"trebuchet ms", verdana, sans-serif;*/
    font-family: 'Baumans', cursive;
	letter-spacing:1px;
	/*font-variant:small-caps;*/
	font-weight:bold;
	font-size:22px;
	margin-top:15;
	margin-bottom: 15px;
}
.h1b {
	text-align:center;
	/*text-decoration: underline;*/
	color: #3080D0;
	font-family:"trebuchet ms", verdana, sans-serif;
	letter-spacing:1px;
	font-variant:small-caps;
	font-weight:bold;
	font-size:14px;
	padding:5px;
}

h2 {
	text-align:center;
	/*text-decoration: underline;*/
	color: #9b9bda;
	font-family: 'Baumans', cursive;
	letter-spacing:1px;
	font-variant:small-caps;
	font-weight:bold;
	font-size:16px;
	margin-top:0;

}
h3 {
	color: #9b9bda;
	font-family: 'Baumans', cursive;
	letter-spacing:1px;
	font-variant:small-caps;
	font-weight:bold;
	font-size:16px;
	margin-top:0;

}


ol, ul {
    list-style: none;
}


.blocText {
	
	width:auto;
	/*background:rgba(70,47,51,0.90);#414040*/
	background:rgba(36,36,86,0.70);
	/*background-color:  #242456;*/
	padding: 15px;
	margin-bottom: 20px;
	
}

.backgroundFilter{
	background:rgba(70,47,51,0.90);
}

.contenu {
	
	width:auto;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
	margin-left: auto;
	margin-left: auto;
	
}

.footer {
	color: #fff;
	font-size: 90%;
	font-variant:small-caps;
	background-color: #242456;
	width:auto;
	text-align: center;
	padding:10px;
	margin-top: 40px;
}

.flagNAv{
    position: relative;
    list-style: outside;
    text-align: right;
    margin-right: 10px;

}

.menu {
	color: #fff;
    /*font-family: 'Baumans', cursive;*/
    font-family: 'Baumans', cursive;
	background-color: #242456;
	width:auto;
	text-align: center;
	padding:5px;
	font-variant:small-caps;
}

.menuSecond {
	font-size: 0.85em;
	/*background-color: #744761;*/
	background-color: #a2a2cb;
	width:auto;
	text-align: center;
	padding-top:5px;
	padding-bottom: 5px;
	padding-right: auto;
	padding-left: auto;
	margin-top: 10px;
	font-variant:small-caps;
}

.menuLink a{
	color: #070735;
}

.menuLink a:hover{
	background-color: #070735;
}


.MenuOnline {
	color: #41415f;
	/*font-size: 0.70em;*/
	background-color: #a1a1f0;
	width:auto;
	text-align: center;
	padding:15px;
	margin-top: 5px;
	font-variant:small-caps;
}

.resultat {
	color: #edced3;
	font-size: 1.2em;
	background-color: #7c5c62;
	width:auto;
	text-align: center;
	padding:15px;
	margin-top: 10px;
}

.resultSecondary{
	font-size: 0.6em;
	font-style: italic;
}

.tableaux{
  display:inline-block;
  vertical-align:top;
  margin-right: auto;
  margin-left: auto;
}



/* ----------------- FONCTIONS de FORM */
a{
	color: #a2a2cb;
	text-decoration:none;
	padding: 10px;
}

a:hover, a:focus {
	text-decoration:none;
	color:#fff;
	/*background-color: #240c10;*/
	/*padding: 10px;*/

}

a img	{
	border: none;
}


button {
    background-color: #070735; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7em;
    cursor: pointer;
}

input[type="submit"]:hover{
	color:#070735;
    background: rgba(131,131,168,0.70);
    /*background-image: -webkit-linear-gradient(top, #8383a8, #a2a2cb);
    background-image: -moz-linear-gradient(top, #8383a8, #a2a2cb);
    background-image: -ms-linear-gradient(top, #8383a8, #a2a2cb);
    background-image: -o-linear-gradient(top, #8383a8, #a2a2cb);
    background-image: linear-gradient(to bottom, #8383a8, #a2a2cb);*/
    text-decoration: none;
}

input[type="submit"]	{
    -webkit-appearance: none;	
    font-size: 1.2em;

    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-variant:small-caps;
    cursor: pointer;
    font-family: 'Baumans', cursive;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
}

form{
	margin: 5px;
}


.tableHide{
	text-align: center;
	margin-left:auto;
   	margin-right:auto;
   	border-collapse: separate;
   	border-spacing: 15px;
   	margin-top: 25px;
}
.tableBorder{
	margin-left:auto;
   	margin-right:auto;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	color: #5a87a0;
}

.tableShow{
	text-align: center;
	margin-left:auto;
   	margin-right:auto;
   	border-collapse: separate;
   	border-spacing: 5px;
   	margin-top: 10px;
}

.tdShow{	
	border-width: 1px;
	padding: 5px;
	background:rgba(36,36,86,0.70);
}
.tdShowBoy{	
	border-width: 1px;
	padding: 5px;
	background:rgba(70,110,160,0.70);
}
.tdShowGirl{	
	border-width: 1px;
	padding: 5px;
	background:rgba(160,70,150,0.70);
}
.tdNeutral{
	padding: 10px;
}
.tdFocus{
    padding: 5px;
    background-color: #a1a1f0;
}


/* ----------------- CLASSES */

.bgDefaultColor{
	background-color: #edced3;
}
.bgColorDarkDefault{
	background-color: #744761;
}


.cellCenter{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cellCountNumb{
	font-size: 1.90em;
}

.colorDefault{
	color: #edced3;
}
.colorDarkDefault{
	color: #462f33;
}
.colorBlanc{
	color: #fff;
}

.darkButton{    
    background:rgba(7,7,53,0.70);
    border: none;
    color: white;
    padding: 10px 10px 10px 10px !important;
     border-radius: 5px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 70% !important;
    cursor: pointer;
    font-family:"trebuchet ms", verdana, sans-serif !important;

}



.illuGage{
	width: 150px;
	/*max-height: 150px;*/
}


.infoSmall{
	font-family:"trebuchet ms", verdana, sans-serif;
	font-size: 0.70em;
	text-align: left;
	font-style: italic;
}

.infoSecondary{
	font-family:"trebuchet ms", verdana, sans-serif;
	font-size: 0.90em;
	text-align: center;
	font-style: italic;
	margin: 10px;
}

.CellinfoSmall{
	font-family:"trebuchet ms", verdana, sans-serif;
	font-size: 0.70em;
	font-style: italic;
}


.levelTitle{
	margin-top: 15;
	margin-bottom: 15;
    font-family: 'Baumans', cursive;
	font-variant:small-caps;

	text-align: center;
	font-size: 200%;
}

.log{
	font-family:"trebuchet ms", verdana, sans-serif;
	font-size: 1em;
	text-align: left;
	font-style: italic;
	margin-top: 15px;
	background:rgba(36,36,86,0.70);
	padding: 10px;
	
}

.logBG{
	max-height: 400px;
	width: auto;
}

.logo{
    width: 150px;
}

.message{
	text-align: center;
	font-style: italic;
	font-size: 0.80em;
}

.marginBloc{
    margin-bottom: 15px;
    margin-top: 30px;
}


/* VARIANTES CLASSES */
  
    .niveau2{
        color: #ce3d88;
    }
    .niveau2BG{
        color: #44123a;
        background-color:#ce3d88
    }
    .niveau2Btn{
       background:rgba(206,61,136,0.70);
        border: solid rgba(94,28,62,0.70) 2px;
        text-decoration: none;
    }

    .disabledBtn{
        background:rgba(140,140,140,0.70);
        border: solid rgba(50,50,50,0.70) 2px;
        text-decoration: none;
        color: #686868 !important;
    }

    .niveau4{
        color: #7944e4;
    }
    .niveau4BG{
        color: #a2a2cb;
        background-color:#7944e4
    }
    .niveau4Btn{
        background:rgba(121,68,228,0.70);
      border: solid rgba(7,7,53,0.70) 2px;
      text-decoration: none;
    }

    .niveau3{
        color: #ae0722;
    }
    .niveau3BG{
        color: #260606;
        background-color:#ae0722
    }
    .niveau3Btn{
        background:rgba(174,7,34,0.70);
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      border: solid rgba(93,5,19,0.70) 2px
    }
  

    .illustree{
        color: #d99a13;
    }
    .illustreeBG{
        color: #333;
        /*background-color:#d99a13;*/
        background:rgba(217,154,19,0.70);
    }
    .illustreeBtn{
        background:rgba(217,154,19,0.70);
        border: solid rgba(73,41,9,0.70) 2px;
        text-decoration: none;
    }


    .jeu21{
        color: #fff;
    }
    .jeu21BG{
        color: #333;
        background-color:#fff
    }

    .jeu21Btn{
       background:rgba(255,255,255,0.70);
      border: solid rgba(38,55,91,0.70) 2px;
      text-decoration: none;
        color: #333 !important;
    }

    .medley{
        color: #4f74bf;
    }
    .medleyBG{
        color: #070735;
        background-color:#4f74bf
    }
    .medleyBtn{
       background:rgba(79,116,191,0.70);
      border: solid rgba(38,55,91,0.70) 2px;
      text-decoration: none;
    }

    .niveau1{
        color: #ee9dd6;
    }
    .Niveau1BG{
        color: #462f33;
        background-color:#ee9dd6
    }
    .niveau1Btn{
       background:rgba(238,157,214,0.70);
        border: solid rgba(88,58,79,0.70) 2px;
        text-decoration: none;
    }

    .supplice{
        color: #b77ed2;
    }
    .suppliceBG{
        color: #edced3;
        background-color:#b77ed2
    }
    .suppliceBtn{
        background:rgba(183,126,210,0.70);
        border: solid rgba(77,55,88,0.70) 2px;
        text-decoration: none;
    }

/*******/

.wrapper{
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

#hide_contenu{
	display: none;
}
#hide_contenu:target{
	display: block;
}
